<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lunchie.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5E96B5E22EC76EA4FE941737927F214BF227BE25</string>
				<key>dateExpires</key>
				<string>14/11/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E96B5E22EC76EA4FE941737927F214BF227BE25</string>
						<key>dateExpires</key>
						<string>14/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EEFYAPAVE2</string>
						<key>name</key>
						<string>Tigerspike Pte. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E96B5E22EC76EA4FE941737927F214BF227BE25</string>
						<key>dateExpires</key>
						<string>14/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EEFYAPAVE2</string>
						<key>name</key>
						<string>Tigerspike Pte. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E96B5E22EC76EA4FE941737927F214BF227BE25</string>
						<key>dateExpires</key>
						<string>14/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EEFYAPAVE2</string>
						<key>name</key>
						<string>Tigerspike Pte. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E96B5E22EC76EA4FE941737927F214BF227BE25</string>
						<key>dateExpires</key>
						<string>14/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EEFYAPAVE2</string>
						<key>name</key>
						<string>Tigerspike Pte. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E96B5E22EC76EA4FE941737927F214BF227BE25</string>
						<key>dateExpires</key>
						<string>14/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EEFYAPAVE2</string>
						<key>name</key>
						<string>Tigerspike Pte. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E96B5E22EC76EA4FE941737927F214BF227BE25</string>
						<key>dateExpires</key>
						<string>14/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EEFYAPAVE2</string>
						<key>name</key>
						<string>Tigerspike Pte. Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5E96B5E22EC76EA4FE941737927F214BF227BE25</string>
						<key>dateExpires</key>
						<string>14/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EEFYAPAVE2</string>
						<key>name</key>
						<string>Tigerspike Pte. Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>EEFYAPAVE2.com.tigerspike.lunchie</string>
				<key>com.apple.developer.team-identifier</key>
				<string>EEFYAPAVE2</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>EEFYAPAVE2.com.tigerspike.lunchie</string>
				</array>
			</dict>
			<key>name</key>
			<string>Lunchie.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bf5f3b6a-cf6e-4138-afbd-47f46c566555</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.tigerspike.lunchie</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>EEFYAPAVE2</string>
				<key>name</key>
				<string>Tigerspike Pte. Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
